.nav a {
  color: #000 !important;
}

.container {
  margin-bottom: 50px;
  font-size:18px;
}

body {
  background: rgb(55,193,182);
  background: linear-gradient(63deg, rgba(55,193,182,1) 0%, rgba(224,206,101,1) 100%);
}

.card-img-top {
  width: 300px;
  height: 250px;
  border: 2px solid;
  border-color: #FFF;
}
