.nav a {
  color: #000 !important;
}

.container {
  margin-bottom: 50px;
  height: 100vh;
}

body {
  background: rgb(55,193,182);
  background: linear-gradient(63deg, rgba(55,193,182,1) 0%, rgba(224,206,101,1) 100%);
  background-size: 100%;
}

#findings {
  margin-bottom: 50px;
}

.example {
  max-height: 540px;
  max-width: 970px;
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.example2 {
  max-height: 660px;
  max-width: 970px;
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.example3 {
  max-height: 600px;
  max-width: 800px;
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  font-size: 18px;
}

.li-example {
  font-size: 18px;
}
