.navbar {
  margin-bottom: 0;
}

#heading-blob {
  background-color: lightblue;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-inner > .item > img{
  margin:auto;
}
