.container {
  margin-bottom: 50px;
}

#insight_embed {
  background-color:lightblue;
  border: 2px solid;
  border-color: #fff;
}

body {
  background: rgb(55,193,182);
  background: linear-gradient(63deg, rgba(55,193,182,1) 0%, rgba(224,206,101,1) 100%);
}
