{% extends "bootstrap/base.html" %}

{% block title %}
Monotonicty vs Periodicity
{% endblock %}

{% block navbar %}
{{ nav.nav_bar.render() }}
{% endblock %}

{% block content %}
<div class="container">
  <div id="findings" class="col-md-12">
    <h1 class="page-header"><strong>Findings (In progress)</strong></h1>
    <div id="findings_1">
      <h2>1</h2>
      <h3>Observation</h3>
      <h3>Conjecture</h3>
      <h3>Investigation</h3>
    </div>
    <hr>
    <div id="findings_2">
      <h2>2</h2>
      <h3>Observation</h3>
      <h3>Conjecture</h3>
      <h3>Investigation</h3>
    </div>
    <hr>
    <div id="findings_3">
      <h2>3</h2>
      <h3>Observation</h3>
      <h3>Conjecture</h3>
      <h3>Investigation</h3>
    </div>

  </div>
</div>
{% endblock %}
