{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Francois+One">
{% endblock %}

{% block navbar %}
{{ nav.nav_bar.render() }}
{% endblock %}

{% block content %}
<div style="background:lightblue" class="jumbotron text-center">
  <div style="font-family: 'Francois One', serif;" class="container">
    <h1>Monotonicty versus Periodicity</h1>
    <h2>in the</h2>
    <h2>Law of Large Numbers</h2>
    <br>
    <a class="btn btn-primary" data-toggle="collapse" data-target="#overview">Learn more</a>
  </div>
</div>

<div class="container">
  <div id="overview" class="collapse">
    <p>Hi</p>
  </div>
</div>

{% endblock %}
